.putMiddle{
  display: flex;
  justify-content: center;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile {
  margin: 50px;
  border: 1px solid black;
  text-align: center;
  width: 20vw;
  padding-top: 2vh;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: -17px 20px 72px 15px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -17px 20px 72px 15px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -17px 20px 72px 15px rgba(0, 0, 0, 0.09);
}

.counter{
  border: 1px solid #91b53f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.counter:hover{
  background-color: #91b53f;
  box-shadow: -17px 20px 72px 15px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -17px 20px 72px 15px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -17px 20px 72px 15px rgba(0, 0, 0, 0.09);
}

.counter button{
  margin: 10px;
}

.pointerContainer{
  height: 100vh;
  background-color: aliceblue;
}

.pointer {
  position: absolute;
  background-color: crimson;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
}